nav {
    font-size: 1vw;
    font-family: 'PT Sans', Arial, Sans-serif;
    position: relative;
}

nav ul {
    padding-top: 50px;
}

nav li {
    display: inline-block;
    white-space: nowrap; /* 글자가 넘칠 경우 줄바꿈 방지 */
}

nav a {
    line-height: 50px;
    height: 50px;
}

nav li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
nav li:last-child a {
    border-right: 0;
}

nav a:hover,
nav a:active {
}

nav a#pull {
    display: none;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,li {margin:0; padding:0;}
ul{
	margin:0; 
	padding:0;
	float:right;
}
li {
   margin:0; 
   padding:0;
   float: left;
}

li a {
    color: #FFFFFF;
    padding: 14.5px 16px;
    text-decoration: none;
    text-align: left;
    font-size:35px;
    border-right: #FFFFFF solid 3px;
    padding: 0px 20px 0px 20px;
}
.loginText,
.mypageText,
.adminPageText{
	border-right: 0px;
}
li a:hover {
    color: #97ABFF;
    font-weight: normal;
}

.menu {
    height: 50px;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    color: #000000;
    top: 0;
    left: 0;
    z-index: 9997;
}

.home-a {
    float:left;
    margin-top: 50px;
    font-size: 70px;
    line-height : 70px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
    color: #FFFFFF;
}


.selectContainer{
    clear: right;
    float: right;
    margin-top: 30px;
    position: relative;
    width: 300px;
}
.selectGu {
	border: none;
    margin-right: 5px;
    text-align: center;
    width: 300px; /* 원하는 너비설정 */
    height: 50px;
    padding: .8em .5em; /* 여백으로 높이 설정 */
    font-family: inherit; /* 폰트 상속 */
    /* 네이티브 화살표 대체 */
    background: #DEE2ED url(../image/selectbox-direction2.png) no-repeat 95% 50%;
    border-radius: 25px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    color: #000000;
}
.selectGu:focus{
	border: #000000 solid 2px; 
}

.selectGu-option {
	display: none;
	z-index : 1;
	position: absolute;
	padding-top: 0px;
	padding-bottom: 15px;
	width: 100%;
	top: 51px;
	left: 0;
	background-color: #DEE2ED; 
	box-sizing: border-box;
	box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.15);
	border-radius: 25px;
}

.selectGu.on+.selectGu-option {
	display: block;
}

.selectGu-option li {
	width:100%;
    height: 30px;
    padding: 5px 8px;
    box-sizing: border-box;
}

.selectGu-option li button {
    width: 100%;
    padding: 5px 10px;
    border: none;
    background-color: #DEE2ED;
    cursor: pointer;
    text-align: center;
    /* 말줄임 */
    white-space: nowrap;
	text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 25px;
}

.selectGu-option li button:hover,
.selectGu-option li button:focus {
    background-color: #FFFFFF;
}

.mypage-notification-div{
	height: 0px;
}

.mypage-notification{
    margin-top: 25px;
    margin-left: 86%;
    display: none;
}
