nav {
    font-size: 1vw;
    font-family: 'PT Sans', Arial, Sans-serif;
    position: relative;
}

nav ul {
    padding-top: 50px;
}

nav li {
    display: inline-block;
    white-space: nowrap; /* 글자가 넘칠 경우 줄바꿈 방지 */
}

nav a {
    line-height: 50px;
    height: 50px;
}

nav li a {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

nav li:last-child a {
    border-right: 0;
}

nav a:hover,
nav a:active {
}

nav a#pull {
    display: none;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,li {margin:0; padding:0;}
ul{
	margin:0; 
	padding:0;
	float:right;
}
li {
   margin:0; 
   padding:0;
   float: left;
}

li a {
    color: #FFFFFF;
    padding: 14.5px 16px;
    text-decoration: none;
    text-align: left;
    font-size:35px;
    border-right: #FFFFFF solid 3px;
    padding: 0px 20px 0px 20px;
}

li a:hover {
    color: #97ABFF;
    font-weight: normal;
}

.menu {
    height: 50px;
    margin-left: 3%;
    margin-right: 3%;
    max-width: 100%;
    background-position: center;
    background-size: cover;
    color: #000000;
    top: 0;
    left: 0;
    z-index: 9997;
}

.home-a {
    float:left;
    margin-top: 50px;
    font-size: 70px;
    line-height : 70px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
    color: #FFFFFF;
}
