<div id="loginPopup" class="popup-overlay">
  <div class="popup-content">
    <span class="close-btn" onclick="closeRegPopup()">&times;</span>
    <h2>로그인</h2>
    <form id="login-form">
      <input type="email" id="loginEmail" placeholder="아이디(이메일)">
      <input type="password" id="loginPassword"  placeholder="비밀번호">
      <button onclick="kakaoLogin('kakao')">카카오 로그인</button>
      <button onclick="naverLogin('naver')">네이버 로그인</button>
      <button onclick="googleLogin('google')">구글 로그인</button>
      <input type="submit" value="로그인">
		<!-- 카카오 로그인 버튼 추가 -->
		<!--<button onclick="kakaoLogin()">카카오 로그인</button>-->
    </form>
  </div>
</div>