<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div id="menu" class="menu">
  <nav>
	<a class="home-a" onclick="gotoHome()">서울시<br> 흡연구역</a>  
    <ul>
      <li><a>쇼핑</a></li>
      <li><a onclick="board()">고객센터</a></li>
      <li id="register"><a onclick="openPopup()">회원가입</a></li>
      <li id="login"><a class="loginText" onclick="openRegPopup()">로그인</a></li>
      <li id="logout"><a onclick="funLogout()">로그아웃</a></li>
      <li id="mypage"><a class="mypageText" onclick="toMypage()">마이페이지</a></li>
      <li id="adminPage"><a class="adminPageText" onclick="toAdminPage()">관리자페이지</a></li>
    </ul>
    <a id="pull" href="#"></a>
    <div class="selectContainer">
	   <button type="button" class="selectGu"></button>
	   <ul class="selectGu-option">
		  <li><button type="button">강남</button></li>
          <li><button type="button">강북</button></li>
          <li><button type="button">강서</button></li>
          <li><button type="button">관악</button></li>
          <li><button type="button">광진</button></li>
          <li><button type="button">구로</button></li>
          <li><button type="button">노원</button></li>
          <li><button type="button">동대문</button></li>
          <li><button type="button">동작</button></li>
          <li><button type="button">서대문</button></li>
          <li><button type="button">서초</button></li>
          <li><button type="button">성동</button></li>
          <li><button type="button">성북</button></li>
          <li><button type="button">송파</button></li>
          <li><button type="button">양천</button></li>
          <li><button type="button">영등포</button></li>
          <li><button type="button">용산</button></li>
          <li><button type="button">종로</button></li>
          <li><button type="button">중구</button></li>
          <li><button type="button">중랑</button></li> 
	   </ul>
	 </div>
  </nav>
    
</div>
  
<div id="loading"><img id="loading-image" src="/image/loading.gif" alt="Loading..." /></div>


