<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="서울시, 서울시 흡연구역, 흡연구역">
    <meta name="description" content="서울시 흡연구역 지도입니다.">
    <title>서울시 흡연구역 지도</title>
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="/css/menu.css">
    <script type="text/javascript"
            th:src="@{'//openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=' + ${naverMapClientId} + '&submodules=geocoder'}"
            defer></script>
    <script th:inline="javascript">
        var facilities = [[${facilities}]];
    </script>
</head>
<body>
<div th:replace="~{/body/menu.html::#menu}"></div>
<div th:replace="~{/body/menu.html::#loading}"></div>
<div th:replace="~{/body/registerPopup.html::#popup}"></div>
<div th:replace="~{/body/loginPopup.html::#loginPopup}"></div>
<div id="map"></div>
<div id="board"></div>
<div th:replace="~{/body/sidebar.html::#sidebar-container}"></div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/map.js"></script>
<script src="/selectScript.js"></script>
<script src="/sidebar.js"></script>
<script src="/login.js"></script>
<script src="/board.js"></script>
</body>
</html>
