<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Facility Map</title>
    <style>
        #map {
            width: 80%;
            height: 500px;
            margin-left: 10%;
        }

        .selectGu {
        }

        select {
            margin-left: 45%;
            margin-top: 50px;
            width: 200px; /* 원하는 너비설정 */
            padding: .8em .5em; /* 여백으로 높이 설정 */
            font-family: inherit; /* 폰트 상속 */
            background: url(https://farm1.staticflickr.com/379/19928272501_4ef877c265_t.jpg) no-repeat 95% 50%; /* 네이티브 화살표 대체 */
            border: 1px solid #999;
            border-radius: 0px; /* iOS 둥근모서리 제거 */
            -webkit-appearance: none; /* 네이티브 외형 감추기 */
            -moz-appearance: none;
            appearance: none;
        }

    </style>
    <script type="text/javascript"
            th:src="@{'//openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=' + ${naverMapClientId} + '&submodules=geocoder'}"
            defer></script>
    <script th:inline="javascript">
        var iconUrl = '/image/icons8-location-2--unscreen.gif';
        var icon = {
            url: iconUrl,
        };
        var map = null;
        var markers = [];
        window.onload = function () {
            loadNaverMap(0, 0);
            getCurrentPos(false);
        };

        function loadNaverMap(mylat, mylon) {
            var facilities = /*[[${facilities}]]*/ [];
            if (mylat !== 0 && mylon !== 0) {
                map = new naver.maps.Map('map', {
                    center: new naver.maps.LatLng(mylat, mylon),
                    zoom: 15,
                    logoControl: true,
                    mapDataControl: false,
                });
                new naver.maps.Marker({
                    position: new naver.maps.LatLng(mylat, mylon),
                    map: map,
                    icon: icon
                })
            } else {
                map = new naver.maps.Map('map', {
                    center: new naver.maps.LatLng(37.5666805, 126.9784147),
                    zoom: 11
                });
            }
            for (var i = 0; i < facilities.length; i++) {
                var facility = facilities[i];
                var longitude = facility.lon;
                var latitude = facility.lat;
                var title = facility.location;
                var loc = facility.location;

                // 모든 속성값이 유효한 경우에만 마커 생성
                if (latitude && longitude && title && loc) {
                    // 클로저를 사용하여 마커와 인포윈도우 연결
                    (function (title, loc) {
                        var marker = new naver.maps.Marker({
                            position: new naver.maps.LatLng(latitude, longitude),
                            title: loc,
                            map: map,
                        });
                        var infoWindow = new naver.maps.InfoWindow({
                            content: loc
                        });
                        // 마커가 클릭되면 인포윈도우 열기
                        naver.maps.Event.addListener(marker, 'click', function () {
                            infoWindow.open(map, marker);
                        });
                        markers.push(marker);
                        // 마커 지도에 추가
                        marker.setMap(map);
                    })(title, loc);
                }
            }
        }

        function getCurrentPos(isClick) {
            if (isClick === true) {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(
                        function (position) {
                            // 위치 정보를 가져오는 데 성공했을 때 처리할 로직
                            var latitude = position.coords.latitude;
                            var longitude = position.coords.longitude;
                            console.log("위도 =", latitude);
                            console.log("경도 =", longitude);
                            loadNaverMap(latitude, longitude);
                            sendLocationData(latitude, longitude);

                        },
                        function (error) {
                            // 위치 정보를 가져오는 데 실패했을 때 처리할 로직
                            console.error("위치 정보를 가져오는 데 실패했습니다.", error);
                        }
                    );
                } else {
                    // 브라우저에서 위치 기능을 지원하지 않을 때 처리할 로직
                    console.error("이 브라우저는 위치 정보를 지원하지 않습니다.");
                }
            }
        }

        function sendLocationData(latitude, longitude) {
            var data = {
                latitude: latitude,
                longitude: longitude
            };

            $.ajax({
                type: "GET",
                url: "http://localhost:8080/map/nearby",
                data: data,
                contentType: "application/json",
                success: function (res) {
                    for (var i = 0; i < markers.length; i++) {
                        var marker = markers[i];
                        for (var j = 0; j < res.length; j++) {
                            var latitude = res[j].latitude;
                            var longitude = res[j].longitude;
                            var markerPosition = marker.getPosition();
                            var markerLat = markerPosition.lat();
                            var markerLng = markerPosition.lng();

                            if (markerLat === parseFloat(latitude) &&
                                markerLng === parseFloat(longitude)) {
                                marker.setIcon({
                                    content: "<div style='width: 16px; height: 16px; background-color: red; border-radius: 50%;'></div>",
                                    anchor: new naver.maps.Point(8, 8)
                                });
                                break;
                            }
                        }
                    }

                },
                error: function (xhr, status, error) {
                    console.error("위치 데이터 전송 중 오류 발생:", error);
                }
            });
        }
    </script>
</head>
<body>
<div>
    <h1 style="margin-left:40%; margin-top:100px">Smoking Location</h1>
</div>
<div style="display: flex; justify-content: flex-end; align-items: flex-end; margin-right: 10%; margin-bottom: 5px">
    <button onclick="getCurrentPos(true)">
        <img src="/image/icons8-location-2--unscreen.gif">
    </button>
</div>

<div id="map"></div>
<div>
    <select class="selectGu">
        <option>전체</option>
        <option>강남</option>
        <option>강북</option>
        <option>강서</option>
        <option>관악</option>
        <option>광진</option>
        <option>구로</option>
        <option>노원</option>
        <option>동대문</option>
        <option>동작</option>
        <option>서대문</option>
        <option>서초</option>
        <option>성동</option>
        <option>성북</option>
        <option>송파</option>
        <option>양천</option>
        <option>영등포</option>
        <option>용산</option>
        <option>종로</option>
        <option>중구</option>
        <option>중랑</option>
    </select>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/selectScript.js"></script>

</body>
</html>
