<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="서울시, 서울시 흡연구역, 흡연구역">
    <meta name="description" content="서울시 흡연구역 지도입니다.">
    <title>서울시 흡연구역 지도</title>
    <link rel="stylesheet" href="/css/map.css">
    <link rel="stylesheet" href="/css/popup.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/loginPopup.css">
    <script type="text/javascript"
            th:src="@{'//openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=' + ${naverMapClientId} + '&submodules=geocoder'}"
            defer></script>
    <script th:inline="javascript">
        var facilities = [[${facilities}]];
        var socialLoginDto = [[${socialLoginDto}]];
		var accessToken = [[${accessToken}]];	
        var refreshToken = [[${refreshToken}]]; 
        var OAuthToken = [[${OAuthToken}]];
        var provider = [[${provider}]]; 

        localStorage.removeItem("lat");
        localStorage.removeItem("lng");
		
		// accessToken과 refreshToken이 비어있지 않은 경우에만 처리합니다. 
        if(accessToken && refreshToken) {
			localStorage.setItem("at",accessToken);
			localStorage.setItem("OAuthToken",OAuthToken);
			localStorage.setItem("provider",provider);
			sessionStorage.setItem("rf", refreshToken);
			// 사용자에게 로그인 성공을 알립니다.
			window.alert("로그인에 성공하였습니다.")
			localStorage.setItem("isLoggedIn","true");
			visibleLogout();
			closeLoginPopup();
		}
    </script>
</head>
<body>
<div th:replace="body/menu.html::#menu"></div>
<div th:replace="body/menu.html::#loading"></div>
<div th:replace="body/registerPopup.html::#popup"></div>
<div th:replace="body/loginPopup.html::#loginPopup"></div>
<div th:replace="body/findPwPopup.html::#findPwPopup"></div>
<div th:replace="body/findPwResultPopup.html::#findPwResultPopup"></div>
<div id="map"></div>
<div id="board"></div>
<div th:replace="body/sidebar.html::#sidebar-container"></div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/map.js"></script>
<script src="/selectScript.js"></script>
<script src="/sidebar.js"></script>
<script src="/login.js"></script>
<script src="/board.js"></script>
<script src="/mypage.js"></script>
</body>
</html>
